<% 
const fatherCategory = _.categories.find(({_id}) => _id === (_.state.parent && _.state.parent._id))
const hasCategory = opt && opt.mgnr_faq_list && opt.mgnr_faq_list.length && opt.mgnr_faq_list.find(({category}) => category === _.state._id || (category === (fatherCategory && fatherCategory._id)) || (category === (fatherCategory && fatherCategory.parent && fatherCategory.parent._id))) 
    if(hasCategory && Array.isArray(opt.mgnr_faq_list) && opt.mgnr_faq_list.length){
        console.log('here im')
        %>
        <section
            class="faq_list my-5 py-5 px-2 px-md-5"
       >
            <div class="container">
            <%
                if(hasCategory.title){
                    %>
                        <div class="faq_section-title text-center mb-4">
                        <%
                        if(hasCategory.list != "description_last"){
                            %>
                            <small class="text-uppercase"><%- hasCategory.description %></small>
                            <%
                        }
                        %>
                            <h2 class="text-bold text-uppercase"><%- hasCategory.title %></h2>
                        <%
                        if(hasCategory.list == "description_last"){
                            %>
                            <small class="text-uppercase"><%- hasCategory.description %></small>
                            <%
                        }
                        %>
                        </div>
                    <%
                }
            %>
            <div class="row list mx-0">      
                <div class="col-md-8 mx-auto">
                <% for (let i = 0; i < hasCategory.questions.length; i++) { %>
                    <div class="faq_list-item">
                        <div class="hat px-3 py-2 my-2 d-flex justify-content-between">
                            <span class="a_text py-2 d-block">
                                <%- hasCategory.questions[i].question.title %>
                            </span>
                            <button type="button" aria-label="Ver mais opções">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M12 7V17M7 12L17 12" stroke="#f3237f" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>
                        <div class="content">
                            <%- hasCategory.questions[i].question.response %>
                        </div>
                    </div>
                <% } %>          
                </div>  
            </div>
        </div>
      </section>
    <%
    }
%>      
