<% if (!_.devMode) { %>
  <% if (Array.isArray(_.widgets) && _.widgets.find(({ useJquery }) => useJquery)) { %>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
  <% } else { %>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"
    ></script>
  <% } %>
  <script>
    if (!window.jQuery) {
      document.write('<script src="https://unpkg.com/jquery@3.5.1/dist/jquery.min.js"><\/script>')
    }
  </script>

  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script>
    if (!window.Popper) {
      document.write('<script src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"><\/script>')
    }
  </script>
<% } %>

<script src="<%= _.assetsPrefix || '' %>/<%= _.route.path.startsWith('/app/') ? 'checkout' : 'storefront' %>.js"></script>

<%
if (Array.isArray(_.widgets) && _.widgets.length) {
  // append widgets additional HTML
  %>
  <%- await include('@/helpers/widgets-append', {
    _, opt: {}, field: 'bodyAppend'
  }) %>
  <%
}

// custom HTML before /body
const customCode = _.cms('code')
if (customCode) {
  %> <%- customCode.html_body %> <%
}
let productOrder
%>

<% if (_.route.resource === 'categories') { 
  const categoryOrder = _.cms(`category_list/${_.state.slug}`) || {}
  if (categoryOrder && categoryOrder.list && categoryOrder.list.length) {
    productOrder =  categoryOrder.list.map(({ product_id }) => product_id)
  }
  %>
  <% if (categoryOrder) { %>
  <script>
      window.categoryOrder = <%- JSON.stringify(productOrder || {})  %>
  </script>
  <% } %>
<% } 
%>

<script>
window.categoryOrder = <%- JSON.stringify(productOrder || {}) %>
window.modelList = [
    "iPhone 16 Pro Max",
    "iPhone 16 Pro",
    "iPhone 16 Plus",
    "iPhone 16",
    "iPhone 15 Pro Max",
    "iPhone 15 Pro",
    "iPhone 15",
    "iPhone 13 Pro Max",
    "iPhone 13/13 Pro",
    "iPhone 12 Pro Max",
    "iPhone 13 Pro",
    "iPhone 12/12 Pro",
    "IPhone 11 Pro Max/XS Max",
    "iPhone 11 Pro Max/XS Max",
    "iPhone 11 Pro/X/XS",
    "iPhone 11/XR",
    "iPhone 11",
    "iPhone 13",
    "iPhone 12 Mini",
    "iPhone 13 Mini",
    "iPhone 11 Pro Max",
    "iPhone X/XS",
    "iPhone 11 Pro",
    "iPhone 7 Plus",
    "iPhone XS Max",
    "iPhone 14 Pro",
    "iPhone XR",
    "iPhone 14",
    "iPhone 14 Pro Max",
    "Galaxy S21 Plus",
    "Galaxy S21 Ultra",
    "iPhone 14 Plus",
    "Galaxy S20 Plus",
    "Galaxy S21",
    "iPhone 7",
    "Galaxy S20 Ultra",
    "iPhone 6/6s",
    "iPhone 6/6s Plus",
    "iPhone 6/7/8 Plus",
    "Galaxy S8",
    "Galaxy S8 Plus",
    "iPhone SE 2020",
    "Galaxy A72",
    "Galaxy S10 Plus",
    "Galaxy S22",
    "Galaxy S22 Plus",
    "Galaxy S10e",
    "iPhone 6/7/8",
    "Galaxy A02s",
    "Galaxy A03s",
    "Galaxy A11",
    "Galaxy A12",
    "Galaxy A21s",
    "Galaxy A22 4G",
    "Galaxy A31",
    "Galaxy A32 4G",
    "Galaxy A32 5G",
    "Galaxy A51",
    "Galaxy A71",
    "Galaxy Note 20",
    "Galaxy S10",
    "Galaxy S20",
    "Galaxy S22 Ultra",
    "K41s",
    "K51s",
    "K52" 
  ]
</script>

<% if (_.pageName === 'home') { %>
  <style>
    a.ni-floating-link { background-color: #4AEB66; color: #222222; z-index: 1000000; position: fixed; box-shadow: none; bottom: 125px; left: auto; top: auto; right: 25px; display: flex; gap: 10px; text-decoration: none; border-radius: 500px; padding: 10px; align-items: center; cursor: pointer; font-size: 32px; line-height: 32px; } .ni-floating-link span { max-width: 320px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; } 
  </style>
  <a id="ni-wpp-button" href="https://wa.me/5551992656033?&text=*Ol%C3%A1%2C+vim+atrav%C3%A9s+do+site+e+gostaria+de+mais+informa%C3%A7%C3%B5es+sobre+os+produtos.*" target="_blank" class="ni-floating-link">
    <svg width="32px" height="32px" viewBox="0 0 64 64" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" fill="currentColor" d="M54.6748 9.30013C48.6594 3.30584 40.6588 0.00304125 32.1344 0C14.5691 0 0.273504 14.2254 0.267392 31.7111C0.264336 37.3008 1.7327 42.7568 4.52123 47.5651L0 64L16.8931 59.5902C21.5472 62.1175 26.7881 63.448 32.1207 63.4496H32.1344C49.6967 63.4496 63.994 49.2225 64 31.7369C64.003 23.2626 60.6919 15.296 54.6748 9.30165V9.30013ZM32.1344 58.0939H32.1237C27.3717 58.0925 22.71 56.8211 18.6427 54.4201L17.6754 53.8484L7.65049 56.4653L10.3259 46.7378L9.69641 45.7403C7.0454 41.5435 5.64427 36.6926 5.64732 31.7127C5.65344 17.18 17.5348 5.35563 32.1452 5.35563C39.2196 5.35868 45.8693 8.10341 50.8702 13.0865C55.8713 18.0681 58.6231 24.692 58.6201 31.7339C58.6139 46.2681 46.7326 58.0925 32.1344 58.0925V58.0939ZM46.6622 38.3532C45.8661 37.9563 41.9516 36.0403 41.2212 35.7757C40.4908 35.5111 39.9607 35.3789 39.4304 36.1726C38.9003 36.9664 37.3739 38.7516 36.9093 39.2792C36.4448 39.8084 35.9803 39.8739 35.1842 39.4768C34.3883 39.08 31.8228 38.2437 28.7806 35.5445C26.4139 33.443 24.8155 30.8489 24.3511 30.0551C23.8866 29.2614 24.3022 28.8325 24.6994 28.4387C25.0569 28.0829 25.4955 27.5127 25.8942 27.0504C26.2932 26.5881 26.4245 26.2567 26.6903 25.7289C26.9563 25.1997 26.8233 24.7376 26.6247 24.3406C26.426 23.9437 24.834 20.0433 24.1692 18.4573C23.5228 16.9124 22.866 17.1222 22.3785 17.0964C21.914 17.0736 21.3838 17.069 20.8521 17.069C20.3204 17.069 19.4585 17.2667 18.7282 18.0605C17.9979 18.8541 15.9412 20.7717 15.9412 24.6705C15.9412 28.5694 18.794 32.3392 19.1927 32.8683C19.5915 33.3975 24.8078 41.4005 32.7945 44.8341C34.6939 45.6506 36.1774 46.1388 37.334 46.5037C39.2411 47.1074 40.9767 47.0223 42.3488 46.8185C43.8784 46.5904 47.0596 44.901 47.7227 43.0504C48.3858 41.1997 48.3858 39.6122 48.1872 39.2822C47.9886 38.9523 47.4569 38.753 46.6608 38.3562L46.6622 38.3532Z"></path></svg>
  </a>
  <script>
    window.addEventListener("load",(function(){var t=document.getElementById("ni-wpp-button"),i=t.getAttribute("href");i.hostname=/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)?"api.whatsapp.com":"web.whatsapp.com";var e=["t_gid","_fbp","_ga","bcookie","_ttp","MUID","personalization_id"];if(document.cookie)for(var r=document.cookie.split(";"),o=0;o<r.length;o++)for(var n=r[o].trim().split("="),a=n[0].trim(),d=n[1]?n[1].trim():"",c=0;c<e.length;c++)e[c]===a&&(i+="&"+a+"="+d);for(var m=["utm_source","utm_campaign","utm_medium","utm_term","utm_content","utm_id","fbid","gclid","gclsrc","dclid","gbraid","wbraid","ttlid","src","sck"],s=0;s<m.length;s++){a=m[s];for(var l=window.location.search.substring(1).split("&"),u=0;u<l.length;u++)if(0===l[u].indexOf(a+"=")){i+="&"+l[u];break}}t.setAttribute("href",i)}));
  </script>
<% } %>
